* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

canvas {
  border: 1px solid #000;
  background-image: url("./assets/images/background-day.png");
}

@media screen and (max-width: 768px) {
  body {
    align-items: flex-start;
    padding: 16px;
  }

  canvas {
    width: 100%;
    height: 100%;
  }
}
